<a href="https://colab.research.google.com/github/abaskon/LiteratureReviewRobotics/blob/main/Time_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/abaskon/Time_series.git

Cloning into 'Time_series'...
remote: Enumerating objects: 35, done.
remote: Counting objects: 100% (35/35), done.
remote: Compressing objects: 100% (30/30), done.
remote: Total 35 (delta 5), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (35/35), done.

In [36]:
import numpy as np 
import pandas as pd 
import matplotlib as mpl
import matplotlib.pyplot as plt  
#from tensorflow import keras
#from tensorflow.keras import layers

In [3]:
url_csv = 'https://raw.githubusercontent.com/abaskon/Time_series/main/Trial_DataSets/AirPassengers.csv'
df = pd.read_csv(url_csv,encoding = 'unicode_escape')

In [29]:

url_json = 'https://raw.githubusercontent.com/abaskon/Time_series/main/brar_square.json'
df2 = pd.read_json(url_json,encoding = 'unicode_escape')

In [28]:
df2.to_csv("CSV.csv")

In [33]:
df2.head(10)

                        _id  ... __v
0  6181613ab026e43799bde166  ...   0
1  61816175cb738b3792e5fa20  ...   0
2  618161b1cb738b3792e5fae2  ...   0
3  618161edcb738b3792e5fb9e  ...   0
4  61816229cb738b3792e5fc38  ...   0
5  61816265cb738b3792e5fcc0  ...   0
6  618162a1cb738b3792e5fd65  ...   0
7  618162ddcb738b3792e5fe07  ...   0
8  61816319cb738b3792e5febf  ...   0
9  618163555bbb89386da2ad00  ...   0

[10 rows x 7 columns]

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1441 entries, 0 to 1440
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   _id              1441 non-null   object
 1   station          1441 non-null   object
 2   createdAt        1441 non-null   object
 3   congestions      1441 non-null   object
 4   miscCongestions  1441 non-null   object
 5   updatedAt        1441 non-null   object
 6   __v              1441 non-null   int64
dtypes: int64(1), object(6)
memory usage: 78.9+ KB

In [16]:
pd.unique(df2.station)

#Unique Staion Id No : 612257f368b8102b4cbf634e

array(['612257f368b8102b4cbf634e'], dtype=object)

In [73]:
df2.congestions[100]

[{'bayId': '612257f368b8102b4cbf6359',
  'congestion': [{'count': 1, 'vType': 'auto'}]},
 {'bayId': '612257f368b8102b4cbf6355',
  'congestion': [{'count': 1, 'vType': 'hmv'}]},
 {'bayId': '612257f368b8102b4cbf6356',
  'congestion': [{'count': 2, 'vType': 'car'}, {'count': 1, 'vType': 'hmv'}]},
 {'bayId': '612257f368b8102b4cbf6352',
  'congestion': [{'count': 1, 'vType': 'hmv'}]},
 {'bayId': '612257f368b8102b4cbf6353',
  'congestion': [{'count': 1, 'vType': 'hmv'}]},
 {'bayId': '612257f368b8102b4cbf6354',
  'congestion': [{'count': 1, 'vType': 'hmv'}]}]

In [45]:
Baycount = pd.DataFrame(columns = ['bayId', 'congestion_count'])

Empty DataFrame
Columns: [bayId, congestion_count]
Index: []

In [77]:
# trial snippet for the upcoming loop

row = 100 #the row of the dataframe (random value assigned)
bayno = 2 #The Sl number of the bay 
vType_count= len(df2.congestions[row][bayno]['congestion']) #the number of types of vehicles 
df2.congestions[row][bayno]['congestion']

[{'count': 2, 'vType': 'car'}, {'count': 1, 'vType': 'hmv'}]

In [68]:
#initialise Fixed details of the station

In [82]:
df2.congestions[100][2]['congestion'][1]['count']

1

In [94]:
tot_rows = len(df2)
for row in range(tot_rows-1):
    active_bays = len(df2.congestions[row])
    for bayno in range(active_bays-1):
      v_types = len(df2.congestions[row][bayno])
      for v in range(v_types-1):
        baywise_count[bayno] = baywise_count[bayno] + df2.congestions[row][bayno]['congestion'][v]['count']

TypeError: ignored

In [98]:
baywise_count[0] =0
baywise_count[0] = baywise_count[0] + 2

TypeError: ignored

In [42]:
pd.DataFrame.from_dict(df2.congestions[1])

                      bayId                                         congestion
0  612257f368b8102b4cbf6356  [{'count': 1, 'vType': 'car'}, {'count': 1, 'v...
1  612257f368b8102b4cbf6357                     [{'count': 1, 'vType': 'car'}]
2  612257f368b8102b4cbf6358                     [{'count': 1, 'vType': 'car'}]
3  612257f368b8102b4cbf6354                     [{'count': 3, 'vType': 'car'}]
4  612257f368b8102b4cbf6351                     [{'count': 1, 'vType': 'hmv'}]
5  612257f368b8102b4cbf6353                     [{'count': 1, 'vType': 'car'}]
6  612257f368b8102b4cbf6352                     [{'count': 1, 'vType': 'hmv'}]
7  612257f368b8102b4cbf6355                     [{'count': 1, 'vType': 'car'}]